:root {
  --primary-band-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: #2e2f42;
  --hero-background-color: #2e2f42;
  --white-color: #ffffff;
  --modal-background-color: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--white-color);
  color: var(--text-color);
}

.menu-link {
  color: var(--dark-color);
  font-weight: 500;
}

.nav-menu-item {
  color: var(--dark-color);
}

.contacts {
  font-style: normal;
}

.contact-link {
  color: inherit;
}

.menu-link:hover,
.menu-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--pressed-state-color);
}

.link {
  font-style: normal;
}

.nav-menu .current {
  color: var(--pressed-state-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header-one {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: var(--white-color);
  text-align: center;
  letter-spacing: 0.02em;
}

.header-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--dark-color);
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.header-three {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--dark-color);
  letter-spacing: 0.02em;
}

.hero {
  background-color: var(--dark-color);
}


.btn {
  cursor: pointer;
  font-family: inherit;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.5;
}

.btn:hover,
.btn:focus {
  background-color: var(--pressed-state-color);
  color: var(--white-color);
}

.cta-button {
  background-color: var(--primary-band-color);
  color: var(--white-color);
}

.filter-button {
  background-color: var(--light-color);
  color: var(--primary-band-color);
}

.filter-button:active {
  background-color: var(--pressed-state-color);
  color: var(--white-color);
}

.team {
  background-color: var(--light-color);
}

.team .item {
  background: var(--white-color);
}

.team .header-three {
  text-align: center;
}

.team-text {
  text-align: center;
}

.projects-title {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.projects-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.footer-style {
  background-color: var(--dark-color);
}

.logotype {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.17;
}

.logo-start {
  color: var(--primary-band-color);
}

.logo-end-dark {
  color: var(--dark-color);
}

.logo-end-light {
  color: var(--light-color);
}

.footer-text {
  color: var(--light-color);
}